footer {
    background-color: rgba(19, 15, 43, 0.7);
    margin-bottom: 0px;
    font-size: 15px;
    color: aliceblue;
}
.footerHome {
    background-color: rgba(19, 15, 43, 0.7);
    margin-bottom: 0px;
    font-size: 15px;
    color: aliceblue;
        .social {
            display: flex;
            justify-content: flex-end;
            margin: 0%;
            gap: 10px;
        }
    }   