@mixin foot($backc, $marg, $font, $color) {
    background-color: $backc;
    margin-bottom: $marg, ;
    font-size: $font;
    color: $color;

}

footer {
    @include foot (rgb(38, 45, 51), 0, 15px, $colorLetra)
}

.footerHome {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 0px;

    .horario {
        width: 50%;
    }

    .social {
        width: 50%;
        margin-top: 20px;

        .imgFoot {
            margin: 20px;
        }
    }
}