/*grid*/

.galeria {
    justify-items: center;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-areas:

        "foto1 foto2 foto3"
        "foto4 foto5 foto6"
        "foto9 foto7 foto8";

    .foto1 {
        grid-area: foto1;
        border-radius: 15px;
        margin: 5%;
        padding: 15px;
        background-color: rgb(38, 45, 51);
    }

    .foto2 {
        grid-area: foto2;
        border-radius: 15px;
        margin: 5%;
        padding: 15px;
        background-color: rgb(38, 45, 51);
    }

    .foto3 {
        grid-area: foto3;
        border-radius: 15px;
        margin: 5%;
        padding: 15px;
        background-color: rgb(38, 45, 51);
    }

    .foto4 {
        grid-area: foto4;
        border-radius: 15px;
        margin: 5%;
        padding: 15px;
        background-color: rgb(38, 45, 51);
    }

    .foto5 {
        grid-area: foto5;
        border-radius: 15px;
        margin: 5%;
        padding: 15px;
        background-color: rgb(38, 45, 51);
    }

    .foto6 {
        grid-area: foto6;
        border-radius: 15px;
        margin: 5%;
        padding: 15px;
        background-color: rgb(38, 45, 51);
    }

    .foto7 {
        grid-area: foto7;
        border-radius: 15px;
        margin: 5%;
        padding: 15px;
        background-color: rgb(38, 45, 51);
    }

    .foto8 {
        grid-area: foto8;
        border-radius: 15px;
        margin: 5%;
        padding: 15px;
        background-color: rgb(38, 45, 51);
    }

    .foto9 {
        grid-area: foto9;
        border-radius: 15px;
        margin: 5%;
        padding: 15px;
        background-color: rgb(38, 45, 51);
    }

    .foto1:hover {
        -webkit-transform: scale(1.1);
        transform: scale(1.1);
        transition-duration: 0.5s;
    }

    .foto2:hover {
        -webkit-transform: scale(1.1);
        transform: scale(1.1);
        transition-duration: 0.5s;
    }

    .foto3:hover {
        -webkit-transform: scale(1.1);
        transform: scale(1.1);
        transition-duration: 0.5s;
    }

    .foto4:hover {
        -webkit-transform: scale(1.1);
        transform: scale(1.1);
        transition-duration: 0.5s;
    }

    .foto5:hover {
        -webkit-transform: scale(1.1);
        transform: scale(1.1);
        transition-duration: 0.5s;
    }

    .foto6:hover {
        -webkit-transform: scale(1.1);
        transform: scale(1.1);
        transition-duration: 0.5s;
    }

    .foto7:hover {
        -webkit-transform: scale(1.1);
        transform: scale(1.1);
        transition-duration: 0.5s;
    }

    .foto8:hover {
        -webkit-transform: scale(1.1);
        transform: scale(1.1);
        transition-duration: 0.5s;
    }

    .foto9:hover {
        -webkit-transform: scale(1.1);
        transform: scale(1.1);
        transition-duration: 0.5s;
    }
}


/*responsive notas*/


@media only screen and (max-width: 767px) {
    
    .card {
        width: 80%;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 15px;
        
    }

    .nosotros {
        font-size: 18px;
    }

    .bodyNotas {

        .galeria {
            display: grid;
            grid-template-columns: 100%;
            grid-template-rows: 9fr;
            grid-template-areas:
                "foto1"
                "foto2"
                "foto3"
                "foto4"
                "foto5"
                "foto6"
                "foto7"
                "foto8"
                "foto9"
            ;


            .foto1 {
                width: 75%;
                margin-left: auto;
                margin-right: auto;
            }

            .foto2 {
                width: 75%;
            }

            .foto3 {
                width: 75%;
            }

            .foto4 {
                width: 75%;
            }

            .foto5 {
                width: 75%;
            }

            .foto6 {
                width: 75%;
            }

            .foto7 {
                width: 75%;
            }

            .foto8 {
                width: 75%;
            }

            .foto9 {
                width: 75%;
            }

            .imgResponsive {
                text-align: center;
            }

        }


    }
}




@media only screen and (min-width: 768px) and (max-width: 970px) {
    .bodyNotas {

        .galeria {
            display: grid;
            grid-template-columns: 1fr 1fr;
            grid-template-rows: 5fr;
            grid-template-areas:
                "foto1 foto2"
                "foto3 foto4"
                "foto5 foto6"
                "foto7 foto8"
                "foto9 none"
            ;

            .foto1 {
                margin: auto;
            }

            .foto2 {
                margin: auto;
            }

            .foto3 {
                margin: auto;
            }

            .foto4 {
                margin: auto;
            }

            .foto5 {
                margin: auto;
            }

            .foto6 {
                margin: auto;
            }

            .foto7 {
                margin: auto;
            }

            .foto8 {
                margin: auto;
            }

            .foto9 {
                margin: auto;
            }
        }

    }



}