* {
  padding: 0;
  margin: 0;
}

header {
  background-color: rgba(19, 15, 43, 0.7);
  display: inline-block;
  margin-top: 0px;
  height: auto;
  width: 100%;
}

header li {
  display: inline-block;
  margin-top: 10px;
  text-align: center;
}

body {
  background-image: url(../imagenes/custom-garage.jpg);
  background-attachment: fixed;
  background-size: cover;
}

footer {
  background-color: rgba(19, 15, 43, 0.7);
  margin-bottom: 0px;
  font-size: 15px;
  color: aliceblue;
}

.footerHome {
  background-color: rgba(19, 15, 43, 0.7);
  margin-bottom: 0px;
  font-size: 15px;
  color: aliceblue;
}

.footerHome .social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  margin: 0%;
  gap: 10px;
}

/*index*/
.car-index {
  width: 70%;
  margin: auto;
}

/*parrafos*/
.parrafoServicios {
  background-color: orange;
}

.nosotros {
  border: 2px solid #e6b140;
  border-radius: 10px;
  margin: 10%;
  padding: 20px;
  background-color: rgba(230, 177, 64, 0.9);
  -webkit-box-shadow: 10px 10px 20px black;
          box-shadow: 10px 10px 20px black;
  font-size: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

/*grid*/
.galeria {
  justify-items: center;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr;
  -ms-grid-rows: 1fr 1fr 1fr;
      grid-template-rows: 1fr 1fr 1fr;
      grid-template-areas: "foto1 foto2 foto3" "foto4 foto5 foto6" "foto9 foto7 foto8";
}

.galeria .foto1 {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: foto1;
}

.galeria .foto2 {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  grid-area: foto2;
}

.galeria .foto3 {
  -ms-grid-row: 1;
  -ms-grid-column: 3;
  grid-area: foto3;
}

.galeria .foto4 {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: foto4;
}

.galeria .foto5 {
  -ms-grid-row: 2;
  -ms-grid-column: 2;
  grid-area: foto5;
}

.galeria .foto6 {
  -ms-grid-row: 2;
  -ms-grid-column: 3;
  grid-area: foto6;
}

.galeria .foto7 {
  -ms-grid-row: 3;
  -ms-grid-column: 2;
  grid-area: foto7;
}

.galeria .foto8 {
  -ms-grid-row: 3;
  -ms-grid-column: 3;
  grid-area: foto8;
}

.galeria .foto9 {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  grid-area: foto9;
}

.galeria .foto1:hover {
  -webkit-transform: scale(1.3);
  transform: scale(1.3);
  -webkit-transition-duration: 0.5s;
          transition-duration: 0.5s;
}

.galeria .foto2:hover {
  -webkit-transform: scale(1.3);
  transform: scale(1.3);
  -webkit-transition-duration: 0.5s;
          transition-duration: 0.5s;
}

.galeria .foto3:hover {
  -webkit-transform: scale(1.3);
  transform: scale(1.3);
  -webkit-transition-duration: 0.5s;
          transition-duration: 0.5s;
}

.galeria .foto4:hover {
  -webkit-transform: scale(1.3);
  transform: scale(1.3);
  -webkit-transition-duration: 0.5s;
          transition-duration: 0.5s;
}

.galeria .foto5:hover {
  -webkit-transform: scale(1.3);
  transform: scale(1.3);
  -webkit-transition-duration: 0.5s;
          transition-duration: 0.5s;
}

.galeria .foto6:hover {
  -webkit-transform: scale(1.3);
  transform: scale(1.3);
  -webkit-transition-duration: 0.5s;
          transition-duration: 0.5s;
}

.galeria .foto7:hover {
  -webkit-transform: scale(1.3);
  transform: scale(1.3);
  -webkit-transition-duration: 0.5s;
          transition-duration: 0.5s;
}

.galeria .foto8:hover {
  -webkit-transform: scale(1.3);
  transform: scale(1.3);
  -webkit-transition-duration: 0.5s;
          transition-duration: 0.5s;
}

.galeria .foto9:hover {
  -webkit-transform: scale(1.3);
  transform: scale(1.3);
  -webkit-transition-duration: 0.5s;
          transition-duration: 0.5s;
}

/*responsive notas*/
@media only screen and (max-width: 767px) {
  .bodyNotas {
    background-color: bisque;
    background-image: none;
  }
  .galeria {
    justify-items: center;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 100%;
        grid-template-columns: 100%;
    -ms-grid-rows: 9fr;
        grid-template-rows: 9fr;
        grid-template-areas: "foto1" "foto2" "foto3" "foto4" "foto5" "foto6" "foto7" "foto8" "foto9";
  }
  .foto1 {
    margin: auto;
  }
  .foto2 {
    margin: auto;
  }
  .foto3 {
    margin: auto;
  }
  .foto4 {
    margin: auto;
  }
  .foto5 {
    margin: auto;
  }
  .foto6 {
    margin: auto;
  }
  .foto7 {
    margin: auto;
  }
  .foto8 {
    margin: auto;
  }
  .foto9 {
    margin: auto;
  }
}

@media only screen and (min-width: 768px) and (max-width: 970px) {
  .bodyNotas {
    background-color: #1b140a;
    background-image: none;
  }
  .galeria {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
    -ms-grid-rows: 5fr;
        grid-template-rows: 5fr;
        grid-template-areas: "foto1 foto2" "foto3 foto4" "foto5 foto6" "foto7 foto8" "foto9 none";
  }
  .foto1 {
    margin: auto;
  }
  .foto2 {
    margin: auto;
  }
  .foto3 {
    margin: auto;
  }
  .foto4 {
    margin: auto;
  }
  .foto5 {
    margin: auto;
  }
  .foto6 {
    margin: auto;
  }
  .foto7 {
    margin: auto;
  }
  .foto8 {
    margin: auto;
  }
  .foto9 {
    margin: auto;
  }
}

/*responsive Index*/
@media only screen and (max-width: 767px) {
  .bodyIndex {
    background-color: bisque;
    background-image: none;
  }
  .gridIndex {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 100%;
        grid-template-columns: 100%;
    -ms-grid-rows: 6fr;
        grid-template-rows: 6fr;
        grid-template-areas: "imagen1" "ph1" "imagen2" "ph2" "imagen3" "ph3";
  }
  .imagen1 {
    margin: auto;
    width: 95%;
  }
  .imagen2 {
    margin: auto;
    width: 95%;
  }
  .imagen3 {
    margin: auto;
    width: 95%;
  }
  .ph1 {
    margin: auto;
  }
  .ph2 {
    margin: auto;
  }
  .ph3 {
    margin: auto;
  }
}

@media only screen and (min-width: 768px) and (max-width: 970px) {
  .gridIndex {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 0.5 fr   1fr;
        grid-template-columns: 0.5 fr   1fr;
    -ms-grid-rows: 3fr;
        grid-template-rows: 3fr;
        grid-template-areas: "imagen1 ph1" "imagen2 ph2" "imagen3 ph3";
  }
  .imagen1 {
    margin: auto;
    width: 95%;
  }
  .imagen2 {
    margin: auto;
    width: 95%;
  }
  .imagen3 {
    margin: auto;
    width: 95%;
  }
  .ph1 {
    margin: auto;
  }
  .ph2 {
    margin: auto;
  }
  .ph3 {
    margin: auto;
  }
}
/*# sourceMappingURL=style.css.map */