* {
  padding: 0;
  margin: 0;
}

body {
  background-image: url(../imagenes/fondonegro.jpg);
  background-attachment: fixed;
  background-size: cover;
}

footer {
  background-color: #262d33;
  margin-bottom: 0;
  font-size: 15px;
  color: aliceblue;
}

.footerHome {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 0px;
}
.footerHome .horario {
  width: 50%;
}
.footerHome .social {
  width: 50%;
  margin-top: 20px;
}
.footerHome .social .imgFoot {
  margin: 20px;
}

/*index*/
.car-index {
  width: 70%;
  margin: auto;
}

/*parrafos*/
.parrafoServicios {
  background-color: orange;
}

.nosotros {
  border: 2px solid #e6b140;
  border-radius: 10px;
  margin: 10%;
  padding: 20px;
  background-color: rgba(230, 177, 64, 0.9);
  box-shadow: 10px 10px 20px black;
  font-size: 30px;
  display: flex;
}

/*grid*/
.galeria {
  justify-items: center;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  grid-template-areas: "foto1 foto2 foto3" "foto4 foto5 foto6" "foto9 foto7 foto8";
}
.galeria .foto1 {
  grid-area: foto1;
  border-radius: 15px;
  margin: 5%;
  padding: 15px;
  background-color: #262d33;
}
.galeria .foto2 {
  grid-area: foto2;
  border-radius: 15px;
  margin: 5%;
  padding: 15px;
  background-color: #262d33;
}
.galeria .foto3 {
  grid-area: foto3;
  border-radius: 15px;
  margin: 5%;
  padding: 15px;
  background-color: #262d33;
}
.galeria .foto4 {
  grid-area: foto4;
  border-radius: 15px;
  margin: 5%;
  padding: 15px;
  background-color: #262d33;
}
.galeria .foto5 {
  grid-area: foto5;
  border-radius: 15px;
  margin: 5%;
  padding: 15px;
  background-color: #262d33;
}
.galeria .foto6 {
  grid-area: foto6;
  border-radius: 15px;
  margin: 5%;
  padding: 15px;
  background-color: #262d33;
}
.galeria .foto7 {
  grid-area: foto7;
  border-radius: 15px;
  margin: 5%;
  padding: 15px;
  background-color: #262d33;
}
.galeria .foto8 {
  grid-area: foto8;
  border-radius: 15px;
  margin: 5%;
  padding: 15px;
  background-color: #262d33;
}
.galeria .foto9 {
  grid-area: foto9;
  border-radius: 15px;
  margin: 5%;
  padding: 15px;
  background-color: #262d33;
}
.galeria .foto1:hover {
  -webkit-transform: scale(1.3);
  transform: scale(1.3);
  transition-duration: 0.5s;
}
.galeria .foto2:hover {
  -webkit-transform: scale(1.3);
  transform: scale(1.3);
  transition-duration: 0.5s;
}
.galeria .foto3:hover {
  -webkit-transform: scale(1.3);
  transform: scale(1.3);
  transition-duration: 0.5s;
}
.galeria .foto4:hover {
  -webkit-transform: scale(1.3);
  transform: scale(1.3);
  transition-duration: 0.5s;
}
.galeria .foto5:hover {
  -webkit-transform: scale(1.3);
  transform: scale(1.3);
  transition-duration: 0.5s;
}
.galeria .foto6:hover {
  -webkit-transform: scale(1.3);
  transform: scale(1.3);
  transition-duration: 0.5s;
}
.galeria .foto7:hover {
  -webkit-transform: scale(1.3);
  transform: scale(1.3);
  transition-duration: 0.5s;
}
.galeria .foto8:hover {
  -webkit-transform: scale(1.3);
  transform: scale(1.3);
  transition-duration: 0.5s;
}
.galeria .foto9:hover {
  -webkit-transform: scale(1.3);
  transform: scale(1.3);
  transition-duration: 0.5s;
}

/*responsive notas*/
@media only screen and (max-width: 767px) {
  .bodyNotas {
    /*  background-color: bisque;
    background-image: none;*/
  }
  .bodyNotas .galeria {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 9fr;
    grid-template-areas: "foto1" "foto2" "foto3" "foto4" "foto5" "foto6" "foto7" "foto8" "foto9";
  }
  .bodyNotas .galeria .foto1 {
    width: 75%;
    margin-left: auto;
    margin-right: auto;
  }
  .bodyNotas .galeria .foto2 {
    width: 75%;
  }
  .bodyNotas .galeria .foto3 {
    width: 75%;
  }
  .bodyNotas .galeria .foto4 {
    width: 75%;
  }
  .bodyNotas .galeria .foto5 {
    width: 75%;
  }
  .bodyNotas .galeria .foto6 {
    width: 75%;
  }
  .bodyNotas .galeria .foto7 {
    width: 75%;
  }
  .bodyNotas .galeria .foto8 {
    width: 75%;
  }
  .bodyNotas .galeria .foto9 {
    width: 75%;
  }
  .bodyNotas .galeria .imgResponsive {
    text-align: center;
  }
}
@media only screen and (min-width: 768px) and (max-width: 970px) {
  .bodyNotas {
    /* background-color: rgb(27, 20, 10);
    background-image: none;*/
  }
  .bodyNotas .galeria {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 5fr;
    grid-template-areas: "foto1 foto2" "foto3 foto4" "foto5 foto6" "foto7 foto8" "foto9 none";
  }
  .bodyNotas .galeria .foto1 {
    margin: auto;
  }
  .bodyNotas .galeria .foto2 {
    margin: auto;
  }
  .bodyNotas .galeria .foto3 {
    margin: auto;
  }
  .bodyNotas .galeria .foto4 {
    margin: auto;
  }
  .bodyNotas .galeria .foto5 {
    margin: auto;
  }
  .bodyNotas .galeria .foto6 {
    margin: auto;
  }
  .bodyNotas .galeria .foto7 {
    margin: auto;
  }
  .bodyNotas .galeria .foto8 {
    margin: auto;
  }
  .bodyNotas .galeria .foto9 {
    margin: auto;
  }
}
.maps {
  text-align: center;
  margin-bottom: 20px;
  margin-top: 20px;
}

.cuestionario {
  width: 80%;
  margin: auto;
  margin-top: 20px;
}

/*# sourceMappingURL=style.css.map */
